# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd
instance/

# IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Python virtual environment
venv/
env/

# System-specific files
.DS_Store
Thumbs.db
