.note {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 0.8rem;

    background-color: var(--color-todo);
    border-radius: var(--border-radius);

    color: var(--color-text);

    cursor: pointer;
}

.note__content {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.note__details {
    display: grid;
    gap: 0.5rem;
}

.note__title,
.note__description {
    margin-block: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note__title {
    font-size: var(--font-note-title-size);
    font-weight: var(--font-weight-semibold);
}

.note__description {
    font-size: var(--font-description-size);
    font-weight: var(--font-weight-light);
}

.note__icon,
.note__status-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 40px;
    padding: 0.5rem;

    border-radius: var(--border-radius);
}

.note__icon,
.note__status-icon {
    background-color: var(--color-background);
}

.note__status-icon--completed,
.note__icon--completed {
    background-color: var(--color-completed);
}

.note__status-icon--in_progress,
.note__icon--in_progress {
    background-color: var(--color-in_progress);
}

.note__status-icon--wont_do,
.note__icon--wont_do {
    background-color: var(--color-wont_do);
}

.note--completed {
    background-color: var(--color-completed-light);
}

.note--in_progress {
    background-color: var(--color-in_progress-light);
}

.note--wont_do {
    background-color: var(--color-wont_do-light);
}